.article_content
  ~ haml2html(@article.content)
%p
  %b Authors:
  %ul
  - @article.authors.each do |author|
    %li=author.name
%p
  %b Tags:
  %ul
  - @article.tags.each do |tag|
    %li=tag.name

- if author_signed_in?
  = link_to 'Edit', edit_article_path(@article)

%ul#comments
  = nested_comments(@article.comments.arrange(:order => :created_at))

= render "comments/form"

= link_to 'Back', articles_path
