/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* iPhone 4 and high pixel ratio devices ----------- */
@media screen and (max-width: 800px) {
  /* line 32, ../../app/stylesheets/mobile.sass */
  body > header h1 {
    margin-left: 1em;
  }

  /* line 34, ../../app/stylesheets/mobile.sass */
  #summary {
    display: none;
  }

  /* line 37, ../../app/stylesheets/mobile.sass */
  .search .content_search input {
    width: 85%;
  }
}
@media screen and (max-width: 710px) {
  /* line 41, ../../app/stylesheets/mobile.sass */
  .search {
    padding: 0.4em;
  }
  /* line 44, ../../app/stylesheets/mobile.sass */
  .search .content_search input {
    width: 84%;
  }
}
@media screen and (max-width: 670px) {
  /* line 48, ../../app/stylesheets/mobile.sass */
  .search {
    padding: 0.3em;
  }
  /* line 51, ../../app/stylesheets/mobile.sass */
  .search .content_search input {
    width: 83%;
  }
}
@media screen and (max-width: 640px) {
  /* line 55, ../../app/stylesheets/mobile.sass */
  .search {
    padding: 0.2em;
  }
  /* line 58, ../../app/stylesheets/mobile.sass */
  .search .content_search input {
    width: 77%;
  }
}
