/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 35, ../../app/stylesheets/screen.sass */
body ol {
  list-style-type: none;
}
/* line 37, ../../app/stylesheets/screen.sass */
body label {
  vertical-align: middle;
}
/* line 39, ../../app/stylesheets/screen.sass */
body abbr[title=required] {
  vertical-align: top;
}
/* line 41, ../../app/stylesheets/screen.sass */
body ul {
  list-style-type: none;
  list-style-image: url("../images/liste_red.png");
}

/* line 46, ../../app/stylesheets/screen.sass */
.content {
  max-width: 70em;
  margin: auto;
}

/* line 54, ../../app/stylesheets/screen.sass */
header {
  padding-top: 1em;
  border-bottom: 1px solid #efefef;
  -webkit-box-shadow: white 0 -1px 0 inset;
  border-left: 1px solid #efefef;
  -webkit-box-shadow: white -1px 0px 0 inset;
  background-color: whiteSmoke;
}
/* line 62, ../../app/stylesheets/screen.sass */
header .content {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  -webkit-box-shadow: white -1px 0 0 inset;
}
/* line 66, ../../app/stylesheets/screen.sass */
header .content h1 {
  color: #bf0000;
  text-shadow: white 1px 1px 0;
  padding-left: 0.3em;
}
/* line 70, ../../app/stylesheets/screen.sass */
header .content h2 {
  padding-left: 0.3em;
}
/* line 72, ../../app/stylesheets/screen.sass */
header .content nav {
  border-top: 1px solid #efefef;
  -webkit-box-shadow: white 0 1px 0 inset;
}
/* line 75, ../../app/stylesheets/screen.sass */
header .content nav ul {
  padding-left: 0;
  display: table;
  width: 100%;
  margin: 0;
  list-style-type: none;
}
/* line 81, ../../app/stylesheets/screen.sass */
header .content nav ul li {
  display: table-cell;
  width: 33%;
}
/* line 84, ../../app/stylesheets/screen.sass */
header .content nav ul li a {
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 4em;
  letter-spacing: 0.1em;
  color: #bf0000;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f7f7f7));
  background: -webkit-linear-gradient(top, white, #f7f7f7 100%);
  background: -moz-linear-gradient(top, white, #f7f7f7);
  background: -o-linear-gradient(top, white, #f7f7f7 100%);
  background: linear-gradient(top, #ffffff, #f7f7f7 100%);
  text-shadow: 1px 1px 1px white;
}
/* line 95, ../../app/stylesheets/screen.sass */
header .content nav ul li a:hover {
  color: white;
  background: #e10000;
  background: -webkit-gradient(linear, left top, left bottom, from(#e10000), to(#a20003));
  background: -webkit-linear-gradient(top, #e10000, #a20003 100%);
  background: -moz-linear-gradient(top, #e10000, #a20003);
  background: -o-linear-gradient(top, #e10000, #a20003 100%);
  background: linear-gradient(top, #e10000, #a20003 100%);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 0.2em;
}

/* line 100, ../../app/stylesheets/screen.sass */
section {
  display: table-cell;
  padding: 0.5em;
  width: 80%;
  border-right: 1px solid white;
  -webkit-box-shadow: #efefef 1px 0 0;
}
/* line 106, ../../app/stylesheets/screen.sass */
section p {
  font-size: 1.2em;
}

/* line 109, ../../app/stylesheets/screen.sass */
.container {
  max-width: 70em;
  margin: auto;
  height: 100%;
}

/* line 113, ../../app/stylesheets/screen.sass */
aside {
  padding: 0.5em;
  background-color: #f5f5f5;
  width: 20%;
  height: 100%;
  display: table-cell;
  vertical-align: top;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  -webkit-box-shadow: white -1px 0px 0 inset;
}

/* line 124, ../../app/stylesheets/screen.sass */
footer {
  border-top: 1px solid #efefef;
  -webkit-box-shadow: white 0 1px 0 inset;
  background-color: whiteSmoke;
  padding: 1em;
}

/* line 130, ../../app/stylesheets/screen.sass */
button, input[type=submit] {
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  background: #f3f3f3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#ececec));
  background: -webkit-linear-gradient(top, #f3f3f3, #ececec 100%);
  background: -moz-linear-gradient(top, #f3f3f3, #ececec);
  background: -o-linear-gradient(top, #f3f3f3, #ececec 100%);
  background: linear-gradient(top, #f3f3f3, #ececec 100%);
  display: inline-block;
  padding: 5px 10px 6px 10px;
  text-shadow: 1px 1px 1px white;
  border: 1px solid #d4d4d4;
  cursor: pointer;
  font-size: 1em;
}

/* line 140, ../../app/stylesheets/screen.sass */
button:hover, input[type=submit]:hover {
  border: 1px solid #555555;
  color: white;
  background: #e10000;
  background: -webkit-gradient(linear, left top, left bottom, from(#e10000), to(#a20003));
  background: -webkit-linear-gradient(top, #e10000, #a20003 100%);
  background: -moz-linear-gradient(top, #e10000, #a20003);
  background: -o-linear-gradient(top, #e10000, #a20003 100%);
  background: linear-gradient(top, #e10000, #a20003 100%);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
