/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*------------------------------------------------------------------------------------------ MIXINS -------------------- */
/* line 6, ../../app/stylesheets/form.sass */
fieldset.inputs ol li {
  display: table;
  margin-bottom: 0.3em;
  width: 100%;
}
/* line 10, ../../app/stylesheets/form.sass */
fieldset.inputs label {
  width: 19%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  margin: 0;
  padding: 5px 2px 6px 2px;
}
/* line 20, ../../app/stylesheets/form.sass */
fieldset.inputs label[for="comment_content"], fieldset.inputs label[for="article_content"] {
  vertical-align: top;
}
/* line 22, ../../app/stylesheets/form.sass */
fieldset.inputs label:after {
  content: " : ";
}
/* line 24, ../../app/stylesheets/form.sass */
fieldset.inputs input, fieldset.inputs textarea {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  border: 1px inset #999999;
  padding: 5px 2px 6px 2px;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-left: 0.5%;
}
/* line 34, ../../app/stylesheets/form.sass */
fieldset.inputs textarea {
  width: 79%;
  margin-left: 0.2em;
}

/* line 38, ../../app/stylesheets/form.sass */
abbr[title="required"] {
  border: none;
  color: #a20003;
  font-size: 1.2em;
}

/* line 1, ../../app/stylesheets/articles.sass */
.article_content {
  padding: 2%;
}
/* line 5, ../../app/stylesheets/articles.sass */
.article_content p {
  color: #333333;
  text-align: justify;
  line-height: 20px;
  margin-bottom: 20px;
}
/* line 10, ../../app/stylesheets/articles.sass */
.article_content h1 {
  margin-top: 20px;
}
/* line 12, ../../app/stylesheets/articles.sass */
.article_content h1, .article_content h2, .article_content h3, .article_content h4, .article_content h5 {
  margin-bottom: 20px;
}
/* line 14, ../../app/stylesheets/articles.sass */
.article_content ul {
  list-style-type: circle;
  line-height: 20px;
  margin-bottom: 20px;
}
/* line 18, ../../app/stylesheets/articles.sass */
.article_content a {
  color: #a20003;
}
/* line 20, ../../app/stylesheets/articles.sass */
.article_content a:hover {
  color: #e10000;
}
/* line 22, ../../app/stylesheets/articles.sass */
.article_content pre {
  background-color: #efefef;
  padding: 1%;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}
/* line 27, ../../app/stylesheets/articles.sass */
.article_content table {
  border: 1px solid #efefef;
}
/* line 29, ../../app/stylesheets/articles.sass */
.article_content p.notice {
  padding: 1em;
  text-indent: 1em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  border: 1px solid #fcd700;
  background-color: #fff9d8;
}
/* line 36, ../../app/stylesheets/articles.sass */
.article_content p.warning {
  padding: 1em;
  text-indent: 1em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  border: 1px solid #e10000;
  background-color: #ffdddd;
}
/* line 43, ../../app/stylesheets/articles.sass */
.article_content p.infos {
  padding: 1em;
  text-indent: 1em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  border: 1px solid #7777dd;
  background-color: #d5e9f6;
}
/* line 50, ../../app/stylesheets/articles.sass */
.article_content h1 + p, .article_content h2 + p, .article_content h3 + p, .article_content h4 + p, .article_content h5 + p {
  text-indent: 2em;
}

/* line 11, ../../app/stylesheets/screen.sass */
body {
  background-color: #f7f7f7;
}
/* line 14, ../../app/stylesheets/screen.sass */
body ol {
  list-style-type: none;
}
/* line 16, ../../app/stylesheets/screen.sass */
body label {
  vertical-align: middle;
}
/* line 18, ../../app/stylesheets/screen.sass */
body abbr[title=required] {
  vertical-align: top;
}

/* line 21, ../../app/stylesheets/screen.sass */
.content {
  width: 100%;
  max-width: 70em;
  margin: auto;
}

/* line 27, ../../app/stylesheets/screen.sass */
header {
  padding-top: 1em;
  border-bottom: 2px solid #a20003;
  -webkit-box-shadow: #e10000 0 -1px 0px inset;
  padding-bottom: 1em;
}
/* line 39, ../../app/stylesheets/screen.sass */
header .content h1 {
  padding-bottom: 0.1em;
  margin-bottom: 0;
  color: transparent;
  -webkit-background-clip: text;
  background-color: rgba(82, 96, 117, 0.5);
  text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px, rgba(255, 255, 255, 0.2) 1px 3px 3px;
  font-size: 4.2em;
  letter-spacing: -0.1em;
  text-rendering: optimizeLegibility;
}
/* line 53, ../../app/stylesheets/screen.sass */
header .content h2 {
  text-align: right;
  color: #a20003;
  padding-left: 0.3em;
  color: transparent;
  -webkit-background-clip: text;
  background-color: rgba(82, 96, 117, 0.5);
  text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px, rgba(255, 255, 255, 0.2) 1px 3px 3px;
  padding-bottom: 0.1em;
}
/* line 65, ../../app/stylesheets/screen.sass */
header .content nav ul {
  padding-left: 0;
  display: table;
  width: 100%;
  margin: 0;
  list-style-type: none;
}
/* line 71, ../../app/stylesheets/screen.sass */
header .content nav ul li:first-child a {
  border-left: 1px solid #efefef;
  border-right: 1px solid #f7f7f7;
}
/* line 74, ../../app/stylesheets/screen.sass */
header .content nav ul li:last-child a {
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #efefef;
}
/* line 77, ../../app/stylesheets/screen.sass */
header .content nav ul li {
  display: table-cell;
  width: 33%;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: transparent;
}
/* line 82, ../../app/stylesheets/screen.sass */
header .content nav ul li a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 3.5em;
  letter-spacing: 0.1em;
  color: #bf0000;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f7f7f7));
  background: -webkit-linear-gradient(top, white, #f7f7f7 100%);
  background: -moz-linear-gradient(top, white, #f7f7f7);
  background: -o-linear-gradient(top, white, #f7f7f7 100%);
  background: linear-gradient(top, #ffffff, #f7f7f7 100%);
  text-shadow: 1px 1px 1px white;
  -webkit-border-top-left-radius: 0.3em;
  -webkit-border-top-right-radius: 0.3em;
  -moz-border-radius-topleft: 0.3em;
  -moz-border-radius-topright: 0.3em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-top: 1px solid #efefef;
}
/* line 94, ../../app/stylesheets/screen.sass */
header .content nav ul li a:hover, header .content nav ul li a.selected {
  -webkit-border-top-left-radius: 0.3em;
  -webkit-border-top-right-radius: 0.3em;
  -moz-border-radius-topleft: 0.3em;
  -moz-border-radius-topright: 0.3em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  color: white;
  background: #e10000;
  background: -webkit-gradient(linear, left top, left bottom, from(#e10000), to(#a20003));
  background: -webkit-linear-gradient(top, #e10000, #a20003 100%);
  background: -moz-linear-gradient(top, #e10000, #a20003);
  background: -o-linear-gradient(top, #e10000, #a20003 100%);
  background: linear-gradient(top, #e10000, #a20003 100%);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  border: 1px solid #a20003;
  -webkit-box-shadow: none;
}

/* line 102, ../../app/stylesheets/screen.sass */
#bold_title {
  font-weight: normal;
  color: #bc0003;
  letter-spacing: 0;
}

/* line 107, ../../app/stylesheets/screen.sass */
.container {
  max-width: 70em;
  margin: auto;
  height: 100%;
}

/* line 112, ../../app/stylesheets/screen.sass */
#content {
  display: table;
}

/* line 115, ../../app/stylesheets/screen.sass */
.article_content {
  width: 70%;
  display: table-cell;
}

/* line 119, ../../app/stylesheets/screen.sass */
aside {
  width: 29%;
  display: table-cell;
  vertical-align: top;
  border-right: 1px solid #efefef;
  background-color: #dadcd5;
  padding: 1em;
}
/* line 126, ../../app/stylesheets/screen.sass */
aside a {
  text-decoration: none;
}

/* line 129, ../../app/stylesheets/screen.sass */
#summary_content {
  position: fixed;
  width: 10%;
  font-size: 0.6em;
}
/* line 133, ../../app/stylesheets/screen.sass */
#summary_content h1 {
  font-size: 200%;
}

/* line 136, ../../app/stylesheets/screen.sass */
.current_section {
  font-weight: bold;
}

/* line 139, ../../app/stylesheets/screen.sass */
button, input[type=submit] {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #f3f3f3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#ececec));
  background: -webkit-linear-gradient(top, #f3f3f3, #ececec 100%);
  background: -moz-linear-gradient(top, #f3f3f3, #ececec);
  background: -o-linear-gradient(top, #f3f3f3, #ececec 100%);
  background: linear-gradient(top, #f3f3f3, #ececec 100%);
  display: inline-block;
  padding: 5px 10px 6px 10px;
  text-shadow: 1px 1px 1px white;
  border: 1px solid #d4d4d4;
  cursor: pointer;
}

/* line 149, ../../app/stylesheets/screen.sass */
button:hover, input[type=submit]:hover {
  border: 1px solid #a20003;
  color: white;
  background: #e10000;
  background: -webkit-gradient(linear, left top, left bottom, from(#e10000), to(#a20003));
  background: -webkit-linear-gradient(top, #e10000, #a20003 100%);
  background: -moz-linear-gradient(top, #e10000, #a20003);
  background: -o-linear-gradient(top, #e10000, #a20003 100%);
  background: linear-gradient(top, #e10000, #a20003 100%);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

/* line 155, ../../app/stylesheets/screen.sass */
footer {
  background-color: whiteSmoke;
  color: #222222;
  padding: 1em;
  min-height: 5em;
  border-top: 1px solid #a20003;
  -webkit-box-shadow: black 0px -1px 0;
}
