#authors_description
  %div
    %div.left
      %div.text-content
        %h1= link_to 'Nicolas Dupont', author_path('Nicolas')
        %ul
          %li En alternance chez Intellicore
          %li Passionné des technologies du Web
          %li Lorem ipsum dolor sit amet, 
      %div.image-content
        = link_to image_tag("http://wbpreview.com/previews/WB0057UJ3/images/me.jpg"), author_path('Nicolas')
        
  %div    
    %div.right
      %div.image-content
        = link_to image_tag('nima.jpg'), author_path('Nima')
      %div.text-content
        %h1= link_to 'Nima Izadi', author_path('Nima')
        %ul
          %li Développeur Ruby On Rails / Front end
          %li Passionné des technologies du Web
          %li Guitariste et photographe amateur dans son temps libre
