.container#resume
  %article.row-fluid
    %section.span9
      %header.row-fluid
        .thumbnail.span3
          = image_tag 'nico.jpg'
        .span8
          %h1.page-header Nicolas Dupont
          %h2 Ingénieur Web Front end
          %h3 
            %i.icon-bookmark
            %span Ruby On Rails
          %h3 
            %i.icon-bookmark
            %span HTML 5, TwitterBootstrap
          %h3 
            %i.icon-bookmark
            %span JavaScript (jQuery, Backbone.js)
          %h3 
            %i.icon-bookmark
            %span CSS 3, SASS, LESS
          %h3 
            %i.icon-bookmark
            %span Responsive Web Design, Web mobile
    
    %aside#contact.span3
      %h2.page-header 
        %div Contact
      %ul
        %li
          %a{:href => 'mailto:nim.izadi@gmail.com'}
            %i.icon-envelope
            %span Nim.Izadi@gmail.com
        %li
          %a{:href => 'https://twitter.com/Nima_Izad'}
            %i.icon-twitter
            %span @Nima_Izadi
        %li
          %a{:href => 'https://twitter.com/Nima_Izad'}
            %i.icon-linkedin
            %span LinkedIn
        %li
          %i.icon-signal
          +33 6 07 65 33 23
        %li
          %i.icon-map-marker
          Nice, FRANCE
  
      %a.btn.btn-large.noPrint#download-button{:href => asset_path('Nima Izadi CV.pdf')}
        %i.icon-download 
        %span Version PDF
  
  %article.container
    // Expérience professionnelles
    // ---------------------------------------
    %section
      %h2.page-header 
        %div Expériences

      %dl.dl-horizontal
        %dt
          2011 - 2012
        %dd
          %span.dl-title 
            Intellicore – Apprentissage 
            %span.place – Sophia-Antipolis, FRANCE
          %p Développement d’une application dans le domaine du médical en Ruby On Rails.    
          %p Responsable des interactions utilisateur et de la structure JavaScript.     
          %p Méthodologies agiles - SCRUM.

      %dl.dl-horizontal
        %dt
          Été 2011
        %dd
          %span.dl-title
            Structure-Computation – Stage technicien 
            %span.place – Montpellier, FRANCE
          
          %p Élaboration d’une interface web pour un outil de calcul de génie mécanique en Ruby On Rails.    
          %p Structure JavaScript MVC avec Backbone.js.    
          %p Interface responsive adapté iPad.     
          %p Méthodologies agiles - SCRUM. 

      %dl.dl-horizontal
        %dt
          Juin 2011
        %dd
          %span.dl-title
            Polytech'Nice Sophia – Projet de fin d’année 
            %span.place – Sophia-Antipolis, FRANCE
          %p
            Création d’une librairie JavaScript (<a href="https://github.com/Crozis/CoffeeTouch" target="_blank">CoffeeTouch.js</a> écrit en CoffeeScript) open-source pour la gestion du multi-touch dans les navigateur web embarqués. 

      %dl.dl-horizontal
        %dt
          2010 - 2011
        %dd
          %span.dl-title
            Polytech’ Projet (Junior Entreprise) – Projet personnel
            %span.place – Nice, FRANCE
          %p
            Développement d’une application web de gestion de compétition équestre au sein d’une équipe de quatre personnes en GWT.
    
      %dl.dl-horizontal
        %dt
          2009 - 2010
        %dd
          %span.dl-title
            Polytech' Projets (Junior Entreprise) – Responsable communication 
            %span.place – Sophia Antipolis, FRANCE
          %p
            Responsable communication au sein de la Junior Entreprise de Polytech’Nice Sophia. Elaboration de flyers, d’affiche et création d’un nouveau logo.

      %dl.dl-horizontal
        %dt
          2006 - 2010
        %dd
          %span.dl-title
            Palabres Sans Frontières (Association humanitaire) – Projet personnel
            %span.place – Toulouse, FRANCE
          %p
            Création et gestion du site web d’une association humanitaire de tourisme équitable.

    %section  
      // Formation
      // ---------------------------------------
      %h2.page-header 
        %div Formation
      %dl.dl-horizontal
        %dt
          2007 - 2012
        %dd
          %span.dl-title
            Polytech'Nice Sophia - Elève ingénieur en Sciences Informatiques
            %span.place – Sophia Antipolis, France
          %p
            Spécialité IHM (Interface Homme - Machine).

      %dl.dl-horizontal
        %dt
          Août - Décembre 2010
        %dd
          %span.dl-title
            Asian Institute of Technology – Semestre d'échange
            %span.place – Pathumthani, THAÏLANDE
          %p
            Niveau 1ère année de master spécialité <em>Computer Science</em>.

      %dl.dl-horizontal
        %dt
          2007
        %dd
          %span.dl-title
            Lycée du Castella – Bac S
            %span.place – Pamiers FRANCE
          %p Spécialité Math.

    // Compétence
    // ---------------------------------------
    %section  
      %h2.page-header 
        %div Compétences
      .skills
        %dl.dl-horizontal
          %dt
            Web
          %dd
            %p Framework Ruby on Rails
            %p HTML 5, TwitterBootstrap
            %p JavaScript (jQuery, MooTools, Backbone.js)
            %p CSS 3, SCSS, LESS, Responsive Web Design, Web Mobile
        
        %dl.dl-horizontal
          %dt
            Logicielle
          %dd
            %p Ruby ; Java
        %dl.dl-horizontal
          %dt
            Connaissances
          %dd
            %p Web Sémantique ; Node.js ; (No)SQL ; Scheme ; Python ; GIT ; OSX / Linux
        %dl.dl-horizontal
          %dt
            Langues
          %dd
            %p Français ; Persan (courant) ; Anglais (courant) ; Espagnol (moyen)

    // Hobbies
    // ---------------------------------------
    %section#hobbies
      %h2.page-header 
        %div Hobbies
      %p
        Photographie – <a href="http://500px.com/Lowx">500px</a>.
      %p
        Snowboard, Wing Chun.
