.container#resume
  %article.row-fluid
    %section.span9
      %header#pict-skills
        %div
          .thumbnail
            = image_tag 'nima.jpg'
        %div.skills
          %div
            %h1.page-header Nima Izadi
            %h2 Ingénieur Web Frontend
            %h3
              %i.icon-bookmark
              %span Ruby On Rails
            %h3
              %i.icon-bookmark
              %span HTML5
            %h3
              %i.icon-bookmark
              %span JavaScript (jQuery, Backbone.js)
            %h3
              %i.icon-bookmark
              %span CSS3 (SASS, OOCSS)
            %h3
              %i.icon-bookmark
              %span Responsive Web Design, Web mobile

    %aside#contact.span3
      %h2.page-header
        %div
          Contact
      %ul
        %li
          %a{:href => 'mailto:nim.izadi@gmail.com', :title => 'Envoyer un e-mail'}
            %i.icon-envelope
            %span Nim.Izadi@gmail.com
        %li
          %a{:href => 'https://twitter.com/Nima_Izadi', :target => '_blank', :title => 'Twitter'}
            %i.icon-twitter
            %span @Nima_Izadi
        %li
          %a{:href => 'http://www.linkedin.com/in/nimaizadi', :target => '_blank', :title => 'LinkedIn'}
            %i.icon-linkedin
            %span LinkedIn
        %li
          %i.icon-signal
          %span +33 6 07 65 33 23
        %li
          %i.icon-map-marker
          %span Paris, FRANCE

      %a.btn.btn-large.noPrint#download-button{:href => asset_path('Nima Izadi CV.pdf'), :title => 'Télécharger le CV'}
        %i.icon-download
        %span Version PDF

  %article.container
    // Expérience professionnelles
    // ---------------------------------------
    %section
      %h2.page-header
        %div Expériences

      %dl.dl-horizontal
        %dt
          Oct. 2012 - présent
        %dd
          %span.dl-title
            <a target="_blank" href="http://www.idolweb.fr/" title="Independant Distribution On Line">IDOL</a> – Independant Distribution On Line
            %span.place – Paris, FRANCE
          %p En charge du design, des interactions utilisateurs et de l'intégration.

      %dl.dl-horizontal
        %dt
          Octobre 2011 - Octobre 2012
        %dd
          %span.dl-title
            <a target="_blank" href="http://www.intellicore.net/" title="Intellicore">Intellicore</a> – Apprentissage
            %span.place – Sophia-Antipolis, FRANCE
          %p Développement d’une application dans le domaine du médical en Ruby On Rails. 
          %p R&D interactions utilisateur, ergonomie et structure JavaScript. 
          %p Méthodologies agiles - SCRUM.

      %dl.dl-horizontal
        %dt
          Été 2011
        %dd
          %span.dl-title
            <a target="_blank" href="http://www.structure-computation.com/" title="Structure-Computation">Structure-Computation</a> – Stage technicien
            %span.place – Montpellier, FRANCE

          %p Élaboration d’une interface web pour un outil de calcul de génie mécanique en Ruby On Rails.
          %p Structure JavaScript MVC avec Backbone.js. 
          %p Interface responsive adapté iPad. 
          %p Méthodologies agiles - SCRUM. 

      %dl.dl-horizontal
        %dt
          Janvier - Mars 2012
        %dd
          %span.dl-title
            <a href="http://www.polytechnice.fr/" target="_blank" title="Polytech'Nice Sophia">Polytech'Nice Sophia</a> – Projet de fin d'étude
            %span.place – Sophia-Antipolis, FRANCE
          %p
            Réalisation d'une application multi support (iPad, Table Microsoft Surface - imposé -, web) en continuité de service pour les weddings planner.
            %br
            %a{:href => "http://www.youtube.com/watch?v=hKzhys851Es&feature=plcp", :target => "_blank", :rel => "nofollow"}
              Vidéo de présentation du projet

      %dl.dl-horizontal
        %dt
          Juin 2011
        %dd
          %span.dl-title
            <a href="http://www.polytechnice.fr/" target="_blank" title="Polytech'Nice Sophia">Polytech'Nice Sophia</a> – Projet de fin d’année
            %span.place – Sophia-Antipolis, FRANCE
          %p
            Création d’une librairie JavaScript (<a href="https://github.com/Crozis/CoffeeTouch" target="_blank" title="CoffeeTouch.js">CoffeeTouch.js</a> écrit en CoffeeScript) open-source pour la gestion du multi-touch dans les navigateur web embarqués.

      %dl.dl-horizontal
        %dt
          Été 2010
        %dd
          %span.dl-title
            <a href="http://www.quiznos.com/home.aspx" taget="_blank" title="Quiznos">Quiznos</a> — Assistant manager
            %span.place – Vienna, Virginia, USA
          %p
            A assisté pendant un mois un gérant de Fast-Food.

      %dl.dl-horizontal
        %dt
          2010 - 2011
        %dd
          %span.dl-title
            <a href="http://je.polytechnice.fr" target="_blank" title="Polytech’ Projets">Polytech’ Projets</a> (Junior Entreprise) – Projet personnel
            %span.place – Nice, FRANCE
          %p
            Développement d’une application web de gestion de compétition équestre au sein d’une équipe de quatre personnes en GWT.

      %dl.dl-horizontal
        %dt
          2009 - 2010
        %dd
          %span.dl-title
            <a href="http://je.polytechnice.fr" target="_blank" title="Polytech’ Projets">Polytech’ Projets</a> (Junior Entreprise) – Responsable communication
            %span.place – Sophia Antipolis, FRANCE
          %p
            Responsable communication au sein de la Junior Entreprise de Polytech’Nice Sophia. Elaboration de flyers, d’affiche et création d’un nouveau logo.

    %section
      // Formation
      // ---------------------------------------
      %h2.page-header
        %div Formation
      %dl.dl-horizontal
        %dt
          2007 - 2012
        %dd
          %span.dl-title
            <a href="http://www.polytechnice.fr/" target="_blank" title="Polytech'Nice Sophia">Polytech'Nice Sophia</a> - Elève ingénieur en Sciences Informatiques
            %span.place – Sophia Antipolis, France
          %p
            Spécialité IHM (Interface Homme - Machine).

      %dl.dl-horizontal
        %dt
          Août - Décembre 2010
        %dd
          %span.dl-title
            <a target="_blank" href="http://www.ait.ac.th/" title="Asian Institute of Technology">Asian Institute of Technology</a> – Semestre d'échange
            %span.place – Pathumthani, THAÏLANDE
          %p
            Niveau 1ère année de master spécialité <em>Computer Science</em>.

      %dl.dl-horizontal
        %dt
          2007
        %dd
          %span.dl-title
            Lycée des Eucalyptus – Bac S
            %span.place – Nice FRANCE
          %p Spécialité Math. Option Science de l’Ingénieur. Mention bien.


    // Compétence
    // ---------------------------------------
    %section
      %h2.page-header
        %div Compétences
      .skills
        %dl.dl-horizontal
          %dt
            Web
          %dd
            %p Framework Ruby on Rails
            %p HTML 5
            %p JavaScript (jQuery, Backbone.js)
            %p CSS 3 (SASS, OOCSS)
            %p Responsive Web Design, Web Mobile

        %dl.dl-horizontal
          %dt
            Logicielle
          %dd
            %p Ruby, Java
        %dl.dl-horizontal
          %dt
            Connaissances
          %dd
            %p Web Sémantique, Node.js, (No)SQL, Scheme, Python, GIT, OSX
        %dl.dl-horizontal
          %dt
            Langues
          %dd
            %p français, persan (courant), anglais (courant), espagnol (moyen)

    // Hobbies
    // ---------------------------------------
    %section#hobbies
      %h2.page-header
        %div Hobbies
      %p Photographie (<a target="_blank" href="http://500px.com/nima_izadi" title="500px">500px</a>).
      %p Guitare (7 ans de pratique).
      %p Passionné de voyage et des cultures étrangères.
