- content_for :header do
  = stylesheet_link_tag 'nima'

- content_for :javascript do
  :javascript
    $(function() {
      $('#go-to-resume').localScroll({duration: 350});
    });

.container
  %article.row-fluid
    %h1.row-fluid.page-header Hi! My name is Nima!
    %section.row-fluid
      .span5.thumbnail-wrapper
        .thumbnail
          = image_tag 'nima_2.jpg'
      %div.skills.span7
        %h2 I love design, UX and ergonomics.
        //%h2 I love when my users are happy.
        %h2 I love entrepreneurship.
        %h2 I love talking in public.
        %h2 I love simplicity.
        %h2 I love the Web.

  %article.row-fluid#contact-warpper
    %hr
    %h2 You need a full stack Ruby On Rails developer? I'm your guy!
    %hr.row-fluid
    %section#contact.span12
      %ul.row-fluid
        %li.span2
          %a{:href => 'mailto:nim.izadi@gmail.com', :title => 'Envoyer un e-mail'}
            %i.icon-envelope-alt
        %li.span2
          %a{:href => 'https://twitter.com/Nima_Izadi', :target => '_blank', :title => 'Twitter'}
            %i.icon-twitter
        %li.span2
          %a{:href => 'https://github.com/nim1989', :target => '_blank', :title => 'Github'}
            %i.icon-github
        %li.span2
          %a{:href => 'http://meetup.rubyparis.org/members/64013092/', :title => 'Co organisateur du ParisRB'}
            %i.icon-group
        %li.span2
          %a{:href => 'https://speakerdeck.com/nima', :target => '_blank', :title => 'SpeakerDeck'}
            %i.icon-bullhorn
        %li.span2
          %a{:href => 'http://www.linkedin.com/in/nimaizadi', :target => '_blank', :title => 'LinkedIn'}
            %i.icon-linkedin

  %p#go-to-resume
    %a{:href => "#resume"}
      %i.icon-arrow-down
      More about me


  // Expérience professionnelles
  // ---------------------------------------
  %article#resume
    %hgroup
      %h1.row-fluid.page-header Nima, the frontend Web engineer
      %hr
      %h2 Ruby On Rails, HTML 5, JavaScript, CSS 3, what else?
      %hr
    %section
      %h2.page-header
        %div Experiences

      %dl.dl-horizontal
        %dt
          October 2012 - present
        %dd
          %span.dl-title
            <a target="_blank" href="http://www.idolweb.fr/" title="Independant Distribution On Line">IDOL</a> – Independant Distribution On Line
            %span.place – Paris, FRANCE
          %p Responsible for user interaction, design and integration.

      %dl.dl-horizontal
        %dt
          October 2011 - October 2012
        %dd
          %span.dl-title
            <a target="_blank" href="http://www.intellicore.net/" title="Intellicore">Intellicore</a> – Internship
            %span.place – Sophia-Antipolis, FRANCE
          %p Developed an information system for the health industry based on Ruby On Rails.
          %p Responsible for user interface interaction and JavaScript MVC structure.
          %p Agile methodologies - SCRUM.

      %dl.dl-horizontal
        %dt
          Summer 2011
        %dd
          %span.dl-title
            <a target="_blank" href="http://www.structure-computation.com/" title="Structure-Computation">Structure-Computation</a> – Internship
            %span.place – Montpellier, FRANCE

          %p Designed and developed the interface of a calculation tool for mechanical engineering based on Ruby On Rails.
          %p Structured the JavaScript in MVC with Backbone.js.
          %p Adapted the design to be responsive and specific for iPad.
          %p Agile methodologies - SCRUM.

      %dl.dl-horizontal
        %dt
          January - March 2012
        %dd
          %span.dl-title
            <a href="http://www.polytechnice.fr/" target="_blank" title="Polytech'Nice Sophia">Polytech'Nice Sophia</a> – School project
            %span.place – Sophia-Antipolis, FRANCE
          %p
            Multi support application (iPad, Microsoft Surface, web) for wedding planners.
            %br
            %a{:href => "http://www.youtube.com/watch?v=hKzhys851Es&feature=plcp", :target => "_blank", :rel => "nofollow", :title => "Video presentation"}
              Video presentation of the projet
            %br
            %a{:href => "https://speakerdeck.com/nim1989/weddingz", :target => "_blank", :rel => "nofollow", :title => "Weddingz presentation"}
              Presentation (FR)

      %dl.dl-horizontal
        %dt
          June 2011
        %dd
          %span.dl-title
            <a href="http://www.polytechnice.fr/" target="_blank" title="Polytech'Nice Sophia">Polytech'Nice Sophia</a> – School project
            %span.place – Sophia-Antipolis, FRANCE
          %p
            Developed an open-source JavaScript library (<a href="https://github.com/Crozis/CoffeeTouch" target="_blank" title="CoffeeTouch.js">CoffeeTouch.js</a> written in CoffeeScript) for multi-touch event handling in embedded web browsers.
            %br
            %a{:href => "https://speakerdeck.com/nim1989/coffeetouch", :target => "_blank", :rel => "nofollow", :title => 'CoffeeTouch presentation'}
              Presentation

      %dl.dl-horizontal
        %dt
          Summer 2010
        %dd
          %span.dl-title
            <a href="http://www.quiznos.com/home.aspx" taget="_blank" title="Quiznos">Quiznos</a> — Assistant manager
            %span.place – Vienna, Virginia, USA
          %p
            Followed the manager for a month.

      %dl.dl-horizontal
        %dt
          2010 - 2011
        %dd
          %span.dl-title
            <a href="http://je.polytechnice.fr" target="_blank" title="Polytech’ Projets">Polytech’ Projets</a> Personal project
            %span.place – Nice, FRANCE
          %p
            Developed a web application for equestrian competitions within a team of four people based on GWT.

      %dl.dl-horizontal
        %dt
          2009 - 2010
        %dd
          %span.dl-title
            <a href="http://je.polytechnice.fr" target="_blank" title="Polytech’ Projets">Polytech’ Projets</a> (student association) – Communication manager
            %span.place – Sophia Antipolis, FRANCE
          %p
            Communication manager in a student association au sein de la Junior Entreprise de Polytech’Nice Sophia. Elaboration de flyers, d’affiche et création d’un nouveau logo.

    %section
      // Formation
      // ---------------------------------------
      %h2.page-header
        %div Education
      %dl.dl-horizontal
        %dt
          2007 - 2012
        %dd
          %span.dl-title
            <a href="http://www.polytechnice.fr/" target="_blank" title="Polytech'Nice Sophia">Polytech'Nice Sophia</a> - Engineer student
            %span.place – Sophia Antipolis, France
          %p
            Field of Computer Science. Specialization in HCI (Human-Computer Interaction). Engineer diploma - Master IFI.

      %dl.dl-horizontal
        %dt
          August - December 2010
        %dd
          %span.dl-title
            <a target="_blank" href="http://www.ait.ac.th/" title="Asian Institute of Technology">Asian Institute of Technology</a> – Master student
            %span.place – Pathumthani, THAÏLANDE
          %p
            Master in Computer Science.

      %dl.dl-horizontal
        %dt
          2007
        %dd
          %span.dl-title
            Eucalyptus High School – Baccalauréat
            %span.place – Nice FRANCE
          %p Major in Math & Engineer Science.


    // Compétence
    // ---------------------------------------
    %section
      %h2.page-header
        %div Skills
      .skills
        %dl.dl-horizontal
          %dt
            Web Programming
          %dd
            %p Ruby on Rails
            %p HTML 5
            %p JavaScript (jQuery, Backbone.js)
            %p CSS 3 (SASS, OOCSS)
            %p Responsive Web Design, Mobile Web

        %dl.dl-horizontal
          %dt
            Software Programming
          %dd
            %p Ruby, Java
        %dl.dl-horizontal
          %dt
            Knowledge
          %dd
            %p Web Sémantique, Node.js, (No)SQL (MongoDB), Scheme, Python, GIT, OSX
        %dl.dl-horizontal
          %dt
            Languages
          %dd
            %p French ; Persian (conversational) ; English (fluent) ; Spanish (average)

    // Hobbies
    // ---------------------------------------
    %section#hobbies
      %h2.page-header
        %div Hobbies
      %p Photography (<a target="_blank" href="http://500px.com/nima_izadi" title="500px">500px</a>).
      %p Guitar (7 years of practice).
      %p Travel and discover new cultures.

    %aside
      %p
        %a.btn.btn-large.noPrint{:href => asset_path('Nima Izadi CV.pdf'), :title => 'Télécharger le CV'}
          %i.icon-download
          %span PDF version
