.container.row-fluid#resume
  %article.span8
    %header.row-fluid
      .thumbnail.span4
        = image_tag 'nima.jpg'
      .hero-unit.span7
        %h1 Nima Izadi
        .divider
          .page-header
          .page-header
        %h2 Ingénieur Web Ruby On Rails
        .divider
          .page-header
          .page-header
        %h3 
          %i.icon-bookmark
          %span Ruby On Rails
        %h3 
          %i.icon-bookmark
          %span HTML(4 & 5), TwitterBootstrap
        %h3 
          %i.icon-bookmark
          %span JavaScript (jQuery, Backbone.js)
        %h3 
          %i.icon-bookmark
          %span CSS (2 & 3, SASS, LESS)
        %h3 
          %i.icon-bookmark
          %span Responsive Web Design
  

    // Expérience professionnelles
    // ---------------------------------------
    %h2.page-header Expériences professionnelles

    %dl.dl-horizontal
      %dt
        2011 - 2012
      %dd
        %span.dl-title
          Intellicore – Apprentissage (1 an)
        %p
          Développement d’une application dans le domaine du médical.
        %p
          – Sophia-Antipolis, FRANCE

    %dl.dl-horizontal
      %dt
        Été 2011
      %dd
        %span.dl-title
          Structure-Computation – Stage technicien (2 mois)
        %p
          Développement d’une interface web pour un outil de calcul de génie mécanique en Ruby On Rails.
          Élaboration et implémentation de l’interface. Structuration MVC du code JavaScript avec Backbone.js
        %p
          – Montpellier, FRANCE
    %dl.dl-horizontal
      %dt
        Été 2011 (1 mois)
      %dd
        %span.dl-title
          Quiznos — Stage ouvrier
        %p
          A suivi pendant un gérant de Fast-Food.
        %p
          – Vienna, Virginia, USA
    %dl.dl-horizontal
      %dt
        Juin 2011
      %dd
        %span.dl-title
          Polytech'Nice Sophia – Projet de fin d’année (1 mois)
        %p
          Développement d’une librairie JavaScript (CoffeeTouch) open-source pour la gestion du multi-touch sur écran tactile.
        %p
          – Sophia-Antipolis, FRANCE
    %dl.dl-horizontal
      %dt
        2010 - 2011
      %dd
        %span.dl-title
          Polytech’ Projet (Junior Entreprise) – Projet personnel (1 an)
        %p
          Développement d’une application web de gestion de compétition équestre au sein d’une équipe de quatre personnes en GWT. 
          Par le biais de la Junior Entreprise de Polytech‘Nice Sophia.
        %p
          – Nice, FRANCE
    %dl.dl-horizontal
      %dt
        2009 - 2010
      %dd
        %span.dl-title
          Polytech' Projets (Junior Entreprise) – Responsable communication (1 an)
        %p
          Responsable communication au sein de la Junior Entreprise de Polytech’Nice Sophia. Elaboration de flyers, d’affiche et création d’un nouveau logo.
        %p
          – Sophia Antipolis, FRANCE

  
    // Formation
    // ---------------------------------------
    %h2.page-header Formation
    %dl.dl-horizontal
      %dt
        2007 - 2012
      %dd
        %span.dl-title
          Polytech'Nice Sophia - Elève ingénieur en Sciences Informatiques
        %p
          Spécialité IHM (Interface Homme - Machine).
        %p
          – Sophia Antipolis, France
    %dl.dl-horizontal
      %dt
        Août - Décembre 2010
      %dd
        %span.dl-title
          Asian Institute of Technology – Semestre à l'étranger
        %p
          Niveau 1ère année de master spécialité <em>Computer Science</em>.
        %p
          – Pathumthani, THAÏLANDE
    %dl.dl-horizontal
      %dt
        2007
      %dd
        %span.dl-title
          Lycée des Eucalyptus – Bac S (option Science de l’Ingénieur). Mention bien.
        %p
          – Nice FRANCE

  %aside.span3
    %h2.page-header Contact
    %p
      %a{:href => 'mailto:nim.izadi@gmail.com'}
        %i.icon-envelope
        %span Nim.Izadi@gmail.com
    %p
      %a{:href => 'https://twitter.com/Nima_Izad'}
        %i.icon-twitter-sign
        %span @Nima_Izadi
    %p
      %a{:href => 'https://twitter.com/Nima_Izad'}
        %i.icon-linkedin-sign
        %span LinkedIn
    %p
      %i.icon-signal
      +33 6 07 65 33 23
    %p
      %i.icon-map-marker
      230 Avenue de Fabron 06200 Nice, FRANCE
  
    %a.btn.btn-large.noPrint{:href => '#'}
      %i.icon-download 
      Version PDF
