%article#show_without_grid
  %header
    .thumbnail
      %img{ :src => 'http://wbpreview.com/previews/WB0057UJ3/images/me.jpg' }
    
    .header-info.hero-unit
      %h1 Nima Izadi
      %h2 Ruby On Rails front-end web engineer
      %p
        %i.icon-map-marker
        230 Avenue de Fabron Résidence Elisabeth, Bat A2 06200 Nice, FRANCE

  .page-header

  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

  // Expérience professionnelle
  .page-header
    %h2 Eduction
  %dl
    %dt
      %i.icon-asterisk
      LALALA
    %dd LILILI

  // Formation
  .page-header
    %h2 Eduction
  %dl
    %dt
      %i.icon-asterisk
      LALALA
    %dd LILILI

  .page-header
    %h2 Compétence
  %dl
    %dt
      %i.icon-asterisk
      LALALA
    %dd LILILI


%aside
  %h2 Contact
  %p
    %i.icon-envelope
    nim.izadi@gmail.com
  %p
    %i.icon-signal
    +33 6 07 65 33 23

  %a#printBtn.btn.btn-large.noPrint{:href => '#'}
    %i.icon-print Imprimer
  %a#printBtn.btn.btn-large.noPrint{:href => '#'}
    %i.icon-download Télécharger
