%footer
  .content
    Lorem Ipsum Dolor
    %a
      Contact us
    %g:plusone{:size => "medium", :count => "false"}
    %a{ :href => "http://twitter.com/share?count=none", :class => "twitter-share-button"} 
