%header
  .container
    %a.home{:href => "/"}        
      On The
      %span#bold_title Rails
      Again      
  .navbar
    .navbar-inner
      .container
        %ul.nav
          %li{ :class => (current_page?(articles_path) ? 'active' : '') }
            = link_to "Home", articles_path
          %li{ :class => (current_page?(authors_show_path) ? 'active' : '') }
            = link_to "À propos", authors_show_path
        = render 'shared/search'