%header
  %a.home{:href => "/"}        
    On The
    %span#bold_title Rails
    Again      
  .navbar
    .navbar-inner
      .container
        %ul.nav
          %li.active
            = link_to "Home", articles_path
          %li 
            = link_to "À propos", authors_path
        = render 'shared/search'