%header
  .content
    %hgroup
      %h1
        On The Rails Again!
      %h2 
        Deux jeunes qui veulent vous aider en Rails !
    %nav
      %ul
        %li 
          %a 
            Articles 
        %li 
          %a 
            Tutos
        %li 
          %a 
            Qui sommes nous ?