@font-face
  font-family: 'HelveticaNeueRegular'
  src: url('../fonts/helveticaneue-webfont.eot')
  src: url('../fonts/helveticaneue-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/helveticaneue-webfont.woff') format("woff"), url('../fonts/helveticaneue-webfont.ttf') format("truetype"), url('../fonts/helveticaneue-webfont.svg#HelveticaNeueRegular') format("svg")
  font-weight: normal
  font-style: normal



@font-face
  font-family: 'HelveticaNeueItalic'
  src: url('../fonts/helveticaneue-italic-webfont.eot')
  src: url('../fonts/helveticaneue-italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/helveticaneue-italic-webfont.woff') format("woff"), url('../fonts/helveticaneue-italic-webfont.ttf') format("truetype"), url('../fonts/helveticaneue-italic-webfont.svg#HelveticaNeueItalic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'HelveticaNeueBold'
  src: url('../fonts/helveticaneue-bold-webfont.eot')
  src: url('../fonts/helveticaneue-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/helveticaneue-bold-webfont.woff') format("woff"), url('../fonts/helveticaneue-bold-webfont.ttf') format("truetype"), url('../fonts/helveticaneue-bold-webfont.svg#HelveticaNeueBold') format("svg")
  font-weight: normal
  font-style: normal