/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import compass/reset

@import compass/typography

body
  +debug-vertical-alignment

$max-width: 70em
.content
  max-width: $max-width
  margin: auto
  
  
header
  padding-top: 1em
  border-bottom: 1px solid #EFEFEF
  -webkit-box-shadow: white 0 -1px 0 inset
  background-color: whiteSmoke
  .content
    h1
      color: #bf0000
      text-shadow: white 1px 1px 0
    nav
      border-top: 1px solid #EFEFEF
      -webkit-box-shadow: white 0 1px 0 inset
      ul
        list-style: none
        padding-left: 0
        display: table
        width: 100%
        margin: 0
        li
          display: table-cell
          width: 33%
          a
            font-size: 1em
            text-decoration: none
            cursor: pointer
            display: block
            text-align: center
            line-height: 4em
            letter-spacing: 0.1em
            color: #bf0000
          a:hover
            background-color: #EFEFEF
            -webkit-box-shadow: white 0 1px 0 inset
            -webkit-border-radius: 0.2em
section
  display: table-cell
  padding: 0.5em
  width: 80%
  p
    font-size: 1.2em

.container
  max-width: $max-width
  margin: auto 
  height: 100%
aside
  padding: 0.5em
  background-color: #F5F5F5
  width: 20%
  height: 100%
  display: table-cell
  vertical-align: top
  border-right: 1px solid #EFEFEF
  -webkit-box-shadow: white -1px 0px 0 inset

footer
  border-top: 1px solid #EFEFEF
  -webkit-box-shadow: white 0 1px 0 inset
  background-color: whiteSmoke
  padding: 1em