@import compass/reset
@import compass/typography
@import mixins
@import form
@import articles

$max-width: 70em
$dark_red : #a20003
$light_red: #e10000 

body
  background-color: #F7F7F7
  background-color: #F0F0F0
  //font-size: 1.2em
  ol
    list-style-type: none
  label
    vertical-align: middle
  abbr[title=required]
    vertical-align: top
  
.content
  width: 100%
  max-width: $max-width
  margin: auto
  
  
header
  padding-top: 1em
  //border-bottom: 4px solid $dark_red
  //-webkit-box-shadow: white 0 -1px 0 inset
  //-webkit-box-shadow: white 0 -1px 0
  //border-left: 1px solid #EFEFEF
  //-webkit-box-shadow: $light_red 0 -1px 0px inset
  //-webkit-box-shadow: black 0px -1px 0
  //background-color: white
  //+gradient($light_red, $dark_red)
  padding-bottom: 1em
  border-bottom: 1px solid $dark_red
  //-webkit-box-shadow: black 0px -1px 0 inset
  background-color: #F7F7F7
  .content
    a
      text-decoration: none
      h1
        //letter-spacing: 0.1em
        //color: $dark_red
        //text-shadow: $light_red 1px 1px 0
        padding-bottom: 0.1em
        margin-bottom: 0
        color: transparent
        -webkit-background-clip: text
        background-color: rgba(82,96,117,0.5)
        text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px
        //font-weight: bold
        font-size: 4.2em
        letter-spacing: -0.1em
        text-rendering : optimizeLegibility
    h2
      text-align: right
      color: $dark_red
      //text-shadow: $light_red 1px 1px 0
      padding-left: 0.3em
      color: transparent
      -webkit-background-clip: text
      background-color: rgba(82,96,117,0.5)
      text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px
      //letter-spacing: -0.1em
      padding-bottom: 0.1em      
    nav
      ul
        padding-left: 0
        display: table
        width: 100%
        margin: 0
        list-style-type: none
        li:first-child a
          border-left: 1px solid #EFEFEF
          border-right: 1px solid #F7F7F7
        li:last-child a
          border-left: 1px solid #F7F7F7
          border-right: 1px solid #EFEFEF
        li
          display: table-cell
          width: 33%
          +radiusTop(1em)
          background-color: transparent
          a
            text-decoration: none
            cursor: pointer
            display: block
            text-align: center
            line-height: 3.5em
            letter-spacing: 0.1em
            color: #bf0000
            +gradient(#FFF, #F7F7F7)
            text-shadow: 1px 1px 1px rgba(255,255,255,1)
            +radiusTop(0.3em)
            border-top: 1px solid #EFEFEF
          a:hover, a.selected
            +radiusTop(0.3em)
            color: white
            +gradient($light_red, $dark_red)
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8)
            border: 1px solid $dark_red
            -webkit-box-shadow: none
 
#bold_title
  font-weight: normal
  color: lighten($dark_red, 5%)
  letter-spacing: 0

.container
  max-width: $max-width
  margin: auto 
  height: 100%
  background-color: #F7F7F7
  
#content
  display: table
  
.article_content
  display: table-cell
  
article
  padding: 1em
  //border-top: 1px solid #EFEFEF
    
.current_content
  padding: 0.5em
  +radius(0.3em)
  color: white
  +gradient($light_red, $dark_red)

aside
  width: 29%
  display: table-cell
  vertical-align: top
  //border-right: 1px solid #EFEFEF
  background-color: #dadcd5
  padding: 1em
  a
    text-decoration: none
    padding: 0.5em

#summary_content
  position: fixed
  width: 13%
  font-size: 0.6em
  h1
    font-size: 200%

.current_section
  font-weight: bold

button, input[type=submit]
  +radius(0.2em)
  +gradient(#f3f3f3, #ececec)
  display: inline-block
  padding: 5px 10px 6px 10px
  text-shadow: 1px 1px 1px rgba(255,255,255,1)
  border: 1px solid #D4D4D4
  cursor: pointer
  //font-size: 1em
  
button:hover, input[type=submit]:hover
  border: 1px solid $dark_red
  color: white
  +gradient($light_red, $dark_red)
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8)
  
footer
  background-color: whiteSmoke
  color: #222
  padding: 1em
  min-height: 5em
  border-top: 1px solid $dark_red
  -webkit-box-shadow: black 0px -1px 0
  
section.articles
  border-left: 1px solid #B2B2B2
  border-right: 1px solid #B2B2B2
  display: table-cell
  padding-top: 1em
  h1
    display: inline
    padding-left: 0.5em
    text-decoration: none
    
  hr
    border: none
    //background-color: $dark_red
    //height: 1px
section.articles
  article:nth-child(odd)
    //background-color: #FDFDFD
      
time
  width: 3em
  margin-left: -3.2em
  text-align: center
  display: inline-block
  +radius(0.3em)
  color: white
  padding: 0.5em 0.8em 0.5em 0.8em
  +gradient($light_red, $dark_red)

  font-size: 1.1em
  //text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8)
  //border: 1px solid $dark_red
  letter-spacing: 0.1em 
  text-transform: capitalize


span.day
  font-size: 2em
  font-weight: bold
  
aside.date
  display: table-cell
  width: 7.1%
  background-color: #F0F0F0

aside.tags
  display: table-cell
  width: 20%
  background-color: #F0F0F0
   
.search
  +gradient($light_red, $dark_red)
  color: white
  padding: 0.5em
  border-bottom: 1px solid darken($dark_red, 5%)
  .content
    //max-width: $max-width 
    margin-left: auto
    a
      color: white
    input
      border: 1px solid $dark_red
      +radius(0.1em)
    input#search_submit
      display: none 