@import compass/reset
@import compass/typography
@import mixins
@import form
@import articles

$max-width: 70em
$dark_red : #a20003
$light_red: #e10000 

body
  background-color: whiteSmoke
  //font-size: 1.2em
  ol
    list-style-type: none
  label
    vertical-align: middle
  abbr[title=required]
    vertical-align: top
  

.content
  width: 100%
  max-width: $max-width
  margin: auto
  
body
  > header
    padding-top: 1em
    padding-bottom: 1em
    border-bottom: 1px solid $dark_red
    background-color: #F7F7F7
    .content
      a
        text-decoration: none
        h1
          padding-bottom: 0.5em
          margin-bottom: 0
          //color: transparent
          //-webkit-background-clip: text
          //-moz-background-clip: padding
          //background-color: rgba(82,96,117,0.5)
          //text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px
          font-size: 4.2em
          letter-spacing: -0.1em
          text-rendering : optimizeLegibility
          color: #BBB
          text-shadow: white 1px 1px 0px
          background-image: url('/images/home.png')
          background-repeat: no-repeat
          background-position: 100% 100%
          width: 9em
          /* +transition(0.1s, color) */
        #bold_title
          font-weight: normal
          color: lighten($dark_red, 5%)
          letter-spacing: 0
          /* +transition(0.1s, color) */
          
      a:hover
        text-decoration: none
        h1
          color: darken(#BBB, 10%)
          background-image: url('/images/home_hover.png')
          background-repeat: no-repeat
          background-position: 100% 100%
          +transition(0.1s, color)
          
        #bold_title
          /* +transition(0.1s, color) */
      nav
        ul
          padding-left: 0
          display: table
          width: 100%
          margin: 0
          list-style-type: none
          li:first-child a
            border-left: 1px solid #EFEFEF
            border-right: 1px solid #F7F7F7
          li:last-child a
            border-left: 1px solid #F7F7F7
            border-right: 1px solid #EFEFEF
          li
            display: table-cell
            width: 33%
            +radiusTop(1em)
            background-color: transparent
            a
              text-decoration: none
              cursor: pointer
              display: block
              text-align: center
              line-height: 3.5em
              letter-spacing: 0.1em
              color: #bf0000
              +gradient(#FFF, #F7F7F7)
              text-shadow: 1px 1px 1px rgba(255,255,255,1)
              +radiusTop(0.3em)
              border-top: 1px solid #EFEFEF
            a:hover, a.selected
              +radiusTop(0.3em)
              color: white
              +gradient($light_red, $dark_red)
              text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8)
              border: 1px solid $dark_red
              +noshadow


.container
  background-color: #F0F0F0
  margin: auto 
  height: 100%
  
#content
  display: table
  
.article_content
  display: table-cell
  
article
  .tags
    font-size: 1.2em
  padding: 1em
  p
    color: #333
    text-align: justify
    line-height: 150%
    text-indent: 30px
    font-size  : 1.1em
  ul
    margin-bottom: 0.4em
.current_content
  padding: 0.5em
  +radius(0.3em)
  color: white
  +gradient($light_red, $dark_red)

aside
  width: 26%
  display: table-cell
  vertical-align: top
  /* background-color: #dadcd5 */
  padding: 1em
  a
    text-decoration: none
    //padding: 0.5em
  ul
    margin-bottom: 0

#summary_content
  position: fixed
  /* width: 13% */
  font-size: 105%
  ul
    font-size: 1.2em
    padding-left  : 1em
    list-style    : none
    li:first-letter
      font-weight: bold
    li
      margin-bottom: 0.5em
    ul
      font-size: 0.9em
  > ul
    padding-left: 0

.current_section
  font-weight: bold

button, input[type=submit]
  +radius(0.2em)
  +gradient(#f3f3f3, #ececec)
  display: inline-block
  padding: 5px 10px 6px 10px
  text-shadow: 1px 1px 1px rgba(255,255,255,1)
  border: 1px solid #D4D4D4
  cursor: pointer
  
button:hover, input[type=submit]:hover
  border: 1px solid $dark_red
  color: white
  +gradient($light_red, $dark_red)
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8)
  
footer
  background-color: whiteSmoke
  color: #222
  padding: 1em
  min-height: 5em
  border-top: 1px solid $dark_red
  +bshadow-out(0px, -1px, 0, black)
  
section.articles
  display: table-cell
  padding-top: 1em
  header
    display: table-cell
    vertical-align: top
    time
      width: 3em
      margin-left: -3.2em
      margin-top: 1em
      text-align: center
      display: inline-block
      +radius(0.3em)
      color: white
      padding: 0.5em 0.8em 0.5em 0.8em
      +gradient($light_red, $dark_red)
    
      font-size: 1em
      letter-spacing: 0.1em 
      text-transform: capitalize
      border: 1px solid darken($dark_red, 5%)
      +bshadow-in(0, 0, 4px, rgba(255,255,255, 0.4)) 

  a
    display: inline-block
    text-decoration: none
    h2
      display: inline
  a:hover
    h2
      color: $dark_red
  .wrapper
    width: 100%
    display: table-cell
    //padding: 2em
    padding-top: 1em
    padding-left: 1em
    .authors
      padding-left: 0
      float: right
      font-size: 1.2em
    p.article_content
      text-align: justify
      padding-left: 0
  article
    border: 1px solid #CCC
    +radius(0.3em)
    background-color: #F7F7F7
    margin-bottom: 1em 

span.day
  font-size: 2.2em
  font-weight: bold
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8)
  
aside.date
  display: table-cell
  width: 0.5em
  background-color: #F0F0F0

aside.tags
  display: table-cell
  width: 28%
  padding: 1em
  padding-top: 1em
  background-color: #F0F0F0
  h3
    margin-bottom: 0.6em
  ul
    padding-left  : 0
    list-style    : none
  .content
    height: 100%
    //background-color: #F7F7F7

.aside_box
  border: 1px solid #CCC
  +radius(0.3em)
  padding: 1.3em
  line-height: 140%
  margin-top: 1em
  background-color: #F7F7F7
  text-align: justify
  p
    font-size: 1.1em

#twitter_follow_link
  margin-top: 1em
  
.search
  +gradient($light_red, $dark_red)
  +radius(0.4em)
  color: white
  padding: 0.5em
  border: 1px solid darken($dark_red, 5%)
  +bshadow-in(0px, 0px, 4px, rgba(255,255,255, 0.4))
  .content_search
    padding: 0.3em
    label.search_icon
      font-size: 1.2em
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8)
      letter-spacing: 0.1em
      display: inline-block
      width: 13%
      margin-bottom: 0.2em
      display: none
      //background-image: url('/images/search.png')
      //background-repeat: no-repeat
      //background-position: left center
    input
      margin-left: 0
      padding: 0.3em 0.1em 0.3em 0.1em
      border: 1px solid $dark_red
      width: 86%
      margin: auto
      display: inline-block
      +radius(0.2em)
      +bshadow-in(0px, 0px, 4px, rgba(0,0,0, 0.4))
    a#advance_search_button
      text-align: center
      color: white
      display: none
  #search_submit
    display: inline-block
    border: none
    +noshadow
    margin-left: 0.2em
    width: 15px
    background-image: url('/images/search.png')
    background-repeat: no-repeat
    background-position: center center
    
#header_border
  +gradient($light_red, $dark_red)
  color: white
  padding: 0.5em
  border-bottom: 1px solid darken($dark_red, 5%)
    
p#special_error
  span
    font-size: 700% !important
    text-shadow: 2px 2px 0px black
  font-size: 200% !important
  text-shadow: 1px 1px 0px black
  width: 70%
  text-align: center
  display: block
  margin: auto
  margin-top: 2em
  +radius(0.3em)
  color: white
  padding: 0.5em
  +gradient($light_red, $dark_red)
  border: 1px solid darken($dark_red, 5%)
  +bshadow(2px, 2px, 15px, black, 0, 0, 4px, rgba(255,255,255, 0.4)) 


@media screen and (max-width: 800px)
  body
    > header
      h1
        margin-left: 1em
  #summary
    display: none
  .search .content_search
    input
      width: 85%

@media screen and (max-width: 710px)
  .search
    padding: 0.4em  
    .content_search
      input
        width: 84%

@media screen and (max-width: 670px)
  .search
    padding: 0.3em 
    .content_search
      input
        width: 83%

@media screen and (max-width: 640px)
  .search
    padding: 0.2em 
    .content_search
      input
        width: 77%