@thubmnail-width: 30%;
@article-width:   70%;

/* Desktop */
#authors_description {

  /* Style */
  ul {
    list-style: none;
    li {
      font-size: 1.1em;
    }
  }
  a {
    text-decoration: none;  
  }
  img {
    .thumbnail_mixin;
  }
  .left {
    text-align: right;
  }
}

#resume {
  header {
    .thumbnail {
      .thumbnail_mixin;
    }
    h1.page-header {
      line-height: 1;
      em {
        color: @light_red;
        font-style: normal;
      }
    }
    div {
      background-color: transparent;
    }
    h1, h2, h3 {
    }
    h2 {
    }
    h3 {
      font-weight: normal;
    }
  }
  dl {
    dt, dd {
      line-height: 1.1em;
      font-size:   1.2em;
    }
    .dl-title, dt {
      line-height: 1.6em;
    }
    .dl-title {
      font-weight: bold;
    }
  }
  aside {
    p, span { font-size: 1.1em; }
    h2.page-header {
      line-height: 1;
    }
    a {
      font-size: 1em;      
      .btn i { 
        font-size: 1.5em; 
      }
    }
  }
}