@thubmnail-width: 30%;
@article-width:   70%;

.thumbnail_mixin {
  background-color: white;
  display:          block;
  padding:          6px;
  line-height:      1;
  border:           1px solid #DDD;
  border-radius:    2px;
}

/* Desktop */
#authors_description {
  /* Display */
  display     : table;
  table-layout: fixed;
  > div {
    display       : table-cell;
    vertical-align: top;
    > div {
      display: table;
      > div {
        display       : table-cell;
        vertical-align: top;
      }
    }
  }

  /* Style */
  h1 {
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    margin: auto 0;
    li {
      font-size: 1.1em;
    }
  }
  a {
    text-decoration: none;  
  }
  .text-content {
    width: 22em;
  } 
  img {
    .thumbnail_mixin;
    margin: 0.7em;
    margin-top: 2em;
    width: 11em;    
  }
  .left {
    text-align: right;
    img {
      margin-right: 0;
    }
  }
  .right {
    img {
      margin-left:  0;
    }
  }
}

/* tablette */
@media screen and (max-width: 640px) {
  #authors_description {
    > div {
      display: table;
      > div {
        display: table-row;
        > div {
          display: table-cell;
        }
      }
    }
  }
}

#resume {
  margin-top: 1.5em;
  p {
    margin: .5em auto;
  }
  h1 {
    text-align: center;
    em {
      color: @light_red;
      font-style: normal;
    }
  }
  .page-header {
    padding-bottom: 0.3em;
    margin: 0.5em auto;
  }
  header {
    .thumbnail {
      .thumbnail_mixin;
    }
    .divider {
      .page-header {
        margin: 2px 0;
        padding: 0;
      }
      margin: 0;
    }
    div {
      padding: 0;
      background-color: transparent;
    }
    h1, h2, h3 {
      margin: 0 auto;    
    }
    h3 {
      font-weight: normal;
      i, span {
        display:        inline-block;
        vertical-align: middle;
      }
    }
  }
  dl {
    dt, dd {
      line-height: 1.1em;
      font-size:   1.2em;
    }
    .dl-title, dt {
      line-height: 1.6em;
    }
    .dl-title {
      font-weight: bold;
    }
    dd {
      p {
        margin-bottom: 0;
      }
    }
  }
  aside {
    p, span {font-size: 1.1em;}
    h2 {
      font-size    : 2.5em;
      margin-bottom: 0;
      margin-top   : 0.7em;
    }
    a {
      display: inline-block;
      i { font-size: 1.5em; }
      span, i {
        vertical-align: middle;
      }
    }
  }
}