@thubmnail-width: 30%;
@article-width:   70%;

h1 {
  text-align: center;
  em {
    color: @light_red;
    font-style: normal;
  }
}

.content {
  .page-header {
    padding-bottom: 0.5em;
  }
  header {
    .thumbnail {
      background-color: white;
      display:          block;
      padding:          6px;
      line-height:      1;
      border:           1px solid #DDD;
      border-radius:    2px;
    }
    div {
      padding: 0;
      background-color: transparent;
    }
    h1 {
      text-align: left;
    }
    h3 {
      font-weight: normal;
      i, span {
        display:        inline-block;
        vertical-align: middle;
      }
    }
    .page-header {
      margin: 11px 0;
    }
  }
  dl {
    dt, dd {
      line-height: 1.1em;
      font-size:   1.2em;
    }
    .dl-title, dt {
      line-height: 1.6em;
    }
    .dl-title {
      font-weight: bold;
    }
    dd {
      p {
        margin-bottom: 0;
      }
    }
  }
}
