body {
  color: #333;
  background-image: image-url('bgnoise.gif');
}

footer {
  margin-bottom: 1em;
}

body { 
  font-size:80%; 
  line-height:1.25;
}
h1, h2, h3 { 
  margin-top:0; 
  margin-bottom:0; 
  padding-bottom: 0; 
  padding-top: 0;
}
h1 { 
  font-size:2em; 
  margin:1.25em 0; 
}
h2 { 
  font-size:1.61905em; 
  margin:1.3052em 0;
}
h3 { 
  font-size:1.2381em; 
  margin:1.39412em 0; 
}

p{
  margin: 1.5em 0;
}
