body > header:first-child {
  background-color: #111;
  .gradient(#222, #222, #111);
  .container {
    a.home {
      text-align         : center;
      font-size          : 3em;
      background-image   : image-url('Logo.png');
      background-repeat  : no-repeat;
      background-position: 0% 50%;
      color              : #DDD;
      text-shadow        : -1px -1px 0 black;
      text-decoration    : none;
    }
    span#bold_title {
      color: @light_red;
    }
  }
  nav {
    .gradient(#BA262A, #E10000, #A20003);
    .noradius;
    border-top: 1px solid #222;
    border-bottom: 1px solid #444;
    .container {
      ul.nav#menu_links {
        text-shadow: 1px 1px 0px #7E0000;
        letter-spacing: 1px;
        li:first-child {
          border-right: 1px solid #970507;
          border-left : 1px solid #970507;
          box-shadow  : 1px 0 0 #c20a0c, inset 1px 0 0 #c20a0c;
        }
        li {
          text-align  : center;
          border-right: 1px solid #970507;
          box-shadow  : 1px 0 0 #c20a0c, inset 1px 0 0 #c20a0c, 0 0 3px rgba(0, 0, 0, 0.2);
          a {
            text-shadow: 0 0 0 white;
            font-weight: 500;
            color      : white;
          }
          a:hover {
            .gradient(#BA262A, lighten(#E10000, 5%), lighten(#A20003, 5%));
          }
        }
        li.active {
          box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
          color: white;
          text-align: center;
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          background-color: #A20003;
        }
        li:hover {
          cursor: pointer;
        }
      }
      ul#outgoing_links {
        li {
          a.share { 
            background-position: 50% 50%;
            background-repeat  : no-repeat;
            background-size    : 100%;
            text-decoration: none;
          }
          .icon-rss, .icon-twitter {
            font-size: 2em;
            color: #111;
            text-shadow: 1px 1px 0 @light_red;
          }
          .icon-rss {
            font-size: 2em;
          }
          .icon-rss:hover, .icon-twitter:hover {
            color: darken(@dark_red, 15%);
          }
        }
      }
      .divider-vertical {
        display: inline-block;
        background-color: #970507;
        border-right: 1px solid #bd0f11;
        margin: 0;
      }
      div#search_form {
        > div {
          form {
            .input-prepend {
              .add-on {
                .radiusLeft(1em);      
                border-color    : darken(@dark_red, 8%);  
                background-color: #A20003;
                color           : black;
                font-size       : 1.3em;
                text-shadow     : none;
                box-shadow      : 0 1px 0 @light_red, inset 0 0 5px rgba(255, 255, 255, 0.4);
                text-shadow     : 0 1px 0 @light_red;
                border-right    : none;
              }
              input {
                margin-bottom: 0;
                border-color: darken(@dark_red, 8%);
                color: #333;
                box-shadow: 0 1px 0 @light_red, inset 0 0 3px rgba(0, 0, 0, 0.2);
                .radiusRight(1em);
                background-color: #EEE;
              }
            }
            .search-query::-webkit-input-placeholder, .search-query:-moz-placeholder {
              color: #999;
              text-shadow: 1px 1px 0 white;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px)  {
  header {
    div#header_title {
      text-align: center;
    }
    div#header_mobile {
      text-align: right;
      a {
        color: black;  
        text-shadow: 0 1px 0 @light_red;
        i {
          font-size: 2em;
        }
      }
      a:hover {
        text-decoration: none;
        cursor: pointer;
      }
      i#search_button, i#tag_button {
        font-size: 1.5em;
        border: 1px solid darken(@dark_red, 8%);  
        background-color: #A20003;
        .radius(1em);
        box-shadow: 0 1px 0 @light_red;
        text-shadow: 0 1px 0 @light_red;
      }
    }
  }
  .popover-inner {
    .popover-title {
      margin: 0;
    }
    .popover-content {
      p {
        margin-top: 0;
      }
      form {
        margin-bottom: 0;
        div.input-prepend {
          display: table;
          span, input {
            margin-bottom: 0; 
            display: table-cell;
          }
          .add-on {
            padding: 0.3em 0.4em;
          }

        }
      }
    }
  }
}
