#article_section {  
  article {
    header {
      vertical-align: top;
      margin-bottom: 0em;
      .authors, time {
        display: inline;
        font-size: 0.9em;
      }
      time {
        text-transform: capitalize;
      }
    }
    .wrapper {
    } 
    h2 {
      line-height: normal;
      a {
        color:           #333;
        text-decoration: none;
      }
      a:hover {
        color: @light_red;
      }
    }
  }
}
aside {
  h3 {
    a {
      color: black;
      i {
        font-size: 1.2em; 
      }
    }
    a:hover {
      text-decoration: none;
      color:          @light_red;
    }
  }
}
.popover ul.tags_list {
  font-weight: 500;
}
ul.tags_list {
  text-align     : left;
  letter-spacing : 0.1em;
  list-style-type: none;
  li {
    a {
      .radius(2px);
      background-color: @linkColor;
      font-size       : 0.9em;
      color           : white;
      text-decoration : none;
      text-shadow     : none;
      border          : 1px solid #B00;
      box-shadow      : 0 1px 0 white;
    }
    a:before {
      content      : "\f02b";
      font-family  : 'FontAwesome';
      padding-right: 0.3em;
    }

    a:hover {
      background-color: lighten(@linkColor, 5%);
      border-color    : lighten(#B00, 5%);
    }
  }
}

h3.page-header {
  padding-bottom: 0;
}

.divider {
  .page-header {
    margin: 2px 0;
    padding: 0;
  }
  margin: 24px 0;
}