//  Global
// *******************************************************

ul.tags_list {
  padding-left   : 0;
  margin         : 0;
  li {
    display      : inline-block;
    margin-bottom: 0.6em;
    a {
      .radius(2px);
      padding         : 0.2em 0.4em;
    }
  }
}


//  Header
// *******************************************************
@header_height: 3.5em;

body > header:first-child {
	font-size: 13px;
  // Header title
	.container {
	  a.home {
	    display            : inline-block;
	    margin-top         : 0.1em auto;
	    padding 					 : 25px 0 25px 75px;
	  }
	}
	// Navigation part
	nav {
		ul {
        display 		 : table;
        table-layout : fixed;
        width				 : 20em;
        margin 			 : auto 0 0 0;
        li {
          display 		  : table-cell;
          vertical-align: middle;
          a {
          	margin     : auto;
            display    : block;
            line-height: @header_height;
        }
      }
		}
		ul#outgoing_links {
			text-align   : right;
      li:last-child{
        padding-right: 1em;
      }
			li {
        display    : inline-block;
        margin 		 : auto 0 0 auto;
        height     : @header_height;
				a {
          vertical-align : middle;
          padding-left   : 0.3em;
          width          : 25px;
          height         : 25px;
				}
			}
		}
    div#search_form {
      height : @header_height;
      display: table;
      margin : 0 0 0 1%;
      > div {
        display       : table-cell;
        vertical-align: middle;
        form {
          margin: 0;
          .input-prepend {
            margin-bottom: 0;
            display      : table;
            .add-on {
              display   	: table-cell;
              padding-left: 0.5em;
            }
            input {
              display  	 	 : table-cell;
              margin-bottom: 0;
            }
          }
        }
			}
		}
	}
}
@media (max-width: 768px)  {
  body > header:first-child {
    div#header_mobile {
      height : @header_height;
      float  : right;
      display: table;
      > div {
        display       : table-cell;
        vertical-align: middle;
        padding       : 0 0.5em;
      }
      i#search_button, i#tag_button {
        padding: 0.25em 0.5em;
      }
      .header_popover {
        position: absolute;
        right: 0;
      }
    }
  }
}

//  Index Articles
// *******************************************************

.articles article p {
  margin: 0.5em 0 1.5em 0  
}

//  Articles
// *******************************************************
#article_show {
  h1 {
    margin-bottom: 0;  
  }  
  p.posted_by {
    margin: 0.5em 0 1em 0;
  }
}

//  Authors
// *******************************************************
@media (max-width: 768px) {
  #authors_description {
    > div {
      display: table;
      > div {
        display: table-row;
        > div {
          display: table-cell;
        }
      }
    }
  }
}