.radius(@radius: 0.5em) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.gradient(@color: #F5F5F5, @stop: #EEE, @start: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}

.noradius {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/*
.bshadow(@left, @top, @radius, @color) {
	-webkit-box-shadow: inset @left @top @radius @color;
	-moz-box-shadow: inset @left @top @radius @color;
	box-shadow: inset @left @top @radius @color;
}
*/