.article_show {
  h1 {
    text-align: left;
  }
  pre {
    font-size: 1.1em;
    background-color: #EFEFEF;
    padding: 2%;
    .radius(0.2em);
    border: 1px solid #DDD;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
    
  span.code {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    white-space: pre-wrap;
    border: 1px solid #DFDFDF;
    padding: 0.2em;
    background-color: #EFEFEF;
    .radius(0.2em);
    padding-bottom: 0.1em;
  }
}
