//  Global
// *******************************************************

body { 
  font-size: 80%; 
  line-height:1.25;
}
h1, h2, h3 { 
  margin-top    : 0; 
  margin-bottom : 0; 
  padding-bottom: 0.2em; 
  padding-top   : 0.2em;
  small {
    display: block;
  }
}
h1 { 
  font-size: 2em; 
  margin   : 1.05em 0; 
}
h2 { 
  font-size: 1.61905em; 
  margin   : 1.1052em 0;
}
h3 { 
  font-size: 1.2381em; 
  margin   : 1.19412em 0; 
}

p {
  font-size: 1em;
  line-height:1.5;
  margin: 1.5em 0;
  text-align: justify;
}

blockquote {
  font-size: 1em;
  line-height:1.5;
}

pre.prettyprint {
  margin: 1.5em 0;
}

a, a:hover {
  text-decoration: none;
}

//  Article Index
// *******************************************************
#article_section {
  h2 {
    margin-bottom: 0;
  }
}

//  About
// *******************************************************
@date_width: 200px;
#resume {
	aside#contact {
		ul {
      list-style: none;
      margin-left: 0;
      li {
        line-height: 1.6;
        i {
          width         : 15px;
          text-align    : center;
          display       : inline-block;
          vertical-align: middle;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }			
		}
	}
  font-size: 110%;
  dl {
    dt {
      width: @date_width;
    }
    dd {
      margin-left: 215px;
    }
  }
  h2 div {
    text-align: right;
    width     : @date_width;
  }
  #contact h2 {
    padding-top: 0;
    div {
      text-align: left;
    }
  }
  header {
    h1.page-header {
      line-height  : 0.8em;
      font-size    : 2.5em;
      margin-bottom: 0;
      padding-top: 0;
      em {
        font-style: normal;
      }
    }
    h3 {
      font-weight: normal;
    }
  }
  .skills dl dd p {
    font-size   : 1.1em;
    line-height : 1.6;
  }
  dl {
    dt, dd, {
      line-height: 1.1;
    }
    .dl-title, dt {
      line-height: 1.6;
    }
    .dl-title {
      font-weight: bold;
    }
    .place {
      font-weight: normal;
      color: gray;
      font-size: 0.85em;
    }
  }
  aside {
    h2.page-header {
      line-height: 1;
    }
    a {
      font-size: 1em;      
      .btn i { 
        font-size: 1.5em; 
      }
    }
  }
}
#authors_description {
  /* Style */
  ul li {
    font-size: 1.1em;
  }
  a {
    text-decoration: none;  
  }
  .right {
    text-align: right;
  }
}

@media (max-width: 768px) {
  #resume {
    #contact {
      h2 div {
        text-align: right;
        width     : @date_width;
      }      
    }
  }
}